/** @format */

/*

test styles
*/
.text-center {
	text-align: center;
}

.text-color-primary {
	color: #5e5e5e;
}

.text-color-secondary {
	color: #b47aea;
}

/*

background styles
*/

.background-color-secondary {
	background-color: #b47aea;
}

/* 
input
*/

.text-input {
	border-width: 0px;
	background-color: #b47aea;
	color: #fff;
	width: 17%;
	height: 35px;
	border-radius: 20px;
	padding: 0px 10px;
	margin: 20px;
}

.text-input::placeholder {
	color: #fff;
}
